<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
  />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,500&display=swap"
        rel="stylesheet">
  <title>Log In page</title>
</head>
<body>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col">
    <div class="flex flex-col justify-center items-center m-5">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 100 100"
           style="height: 150px; width: 150px">
        <path
            fill="white"
            d="M53.333 10v6.692c16.85 1.68 30 15.951 30 33.308 0 17.354-13.15 31.624-30 33.304V90C73.864 88.298 90 71.052 90 50c0-21.055-16.136-38.294-36.667-40zm-6.666 73.304c-16.843-1.68-30-15.95-30-33.304 0-17.356 13.157-31.628 30-33.308V10C26.14 11.706 10 28.945 10 50c0 21.052 16.14 38.298 36.667 40v-6.696z"/>
        <path
            fill="white"
            d="M30.3 46.667C31.888 37.21 40.091 30 50 30s18.112 7.21 19.7 16.667h6.735C74.795 33.516 63.601 23.333 50 23.333c-13.594 0-24.792 10.183-26.436 23.334H30.3zm39.4 6.666C68.112 62.786 59.909 70 50 70s-18.112-7.214-19.7-16.667h-6.735C25.208 66.484 36.406 76.667 50 76.667c13.601 0 24.795-10.183 26.436-23.334H69.7z"/>
        <path
            fill="white"
            d="M50 36.667c-7.363 0-13.333 5.97-13.333 13.333S42.637 63.333 50 63.333c7.366 0 13.333-5.97 13.333-13.333S57.366 36.667 50 36.667zm0 20a6.667 6.667 0 1 1 0-13.334 6.667 6.667 0 0 1 0 13.334z"/>
      </svg>
      <div class="text-center text-lg m-3 flex flex-wrap justify-center items-center" style="font-family: 'Montserrat', sans-serif; font-size: 50px">
        <span class="text-primary my-2">Test</span> <span class="my-3">Dashboard</span>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left m-5">
        <h1 style="font-size: 30px">
          Пожалуйста войдите в систему
        </h1>
        <p class="my-3 py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquam aspernatur consectetur deleniti dolores et, eum excepturi facilis in ipsam labore nesciunt, optio quo quod rerum tempora tempore veritatis?</p>
      </div>
      <div class="text-red" th:if="${param.error}">
        Invalid username and password.</div>
      <div class="card flex-shrink-0 w-11/12 max-w-sm shadow-2xl bg-base-100 m-5">
        <form class="card-body" th:action="@{/login}" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Имя пользователя</span>
            </label>
            <input type="text" name="username" autocomplete="off" placeholder="Введите имя пользователя..."
                   class="input input-bordered input-primary"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Пароль</span>
            </label>
            <input type="password" name="password" placeholder="Введите пароль..."
                   class="input input-bordered input-primary"/>
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary">
              Войти
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>